[submodule "LCD_Display/ugfx"]
	path = LCD_Display/ugfx
	url = https://git.ugfx.io/uGFX/uGFX
[submodule "tools/renderer/lib/tinyobjloader"]
	path = tools/renderer/lib/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
