Adrien Marcenat         <adrien.marcenat@gmail.com>                     <adrien.marcenat@telecom-paristech.fr>
Adrien Marcenat         <adrien.marcenat@gmail.com>                     AdrienMarcenat
Vincent Charbonnieras   <vincent.charbonnieras@gmail.com>               Vincent CHARBONNIERAS <vincent.charbonnieras@telecom-paristech.fr>
Vincent Charbonnieras   <vincent.charbonnieras@gmail.com>               <vcharbon@telecom-paristech.fr>
Alexis Bauvin           <alexis@bauvin.com>                             <alexis.bauvin@telecom-paristech.fr>
Alexis Bauvin           <alexis@bauvin.com>                             Tuetuopay <tuetuopay@me.com>
Clément Decoodt         <clement@decoodt.eu>                            <clement.decoodt@telecom-paristech.fr>
Clément Decoodt         <clement@decoodt.eu>                            Clement Decoodt
Alexandre Janniaux      <alexandre.janniaux@gmail.com>
