.FILETYPE ExtendedPrint SetupFile
.VERSION "VB99.0"
.CREATOR "Xpedition Layout PDF Output"
.DATE "Friday, January 05, 2018 01:20 AM"

.BaseUnits "1NM"

.FillText No
.FitDrawing No
.PDFFileName "H:\\AMPEROSE\\PCB\\AMPEROSE_PCB\\PCB\\Output\\PDF\\PCB"


.SheetName "Sheet1"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Design Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Design Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"

 ..ConductiveLayer 1
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem Thieving
   ...ConductiveItem MountingHolesByLayer
   ...ConductiveItem PartHolesByLayer
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads

 ..ConductiveLayer 2
   ...ProcessLayer No

 ..ConductiveLayer 3
   ...ProcessLayer No

 ..ConductiveLayer 4
   ...ProcessLayer No
 ..BoardItem BoardOutline

.SheetName "Sheet4"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Design Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Design Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"

 ..ConductiveLayer 4
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem Thieving
   ...ConductiveItem MountingHolesByLayer
   ...ConductiveItem PartHolesByLayer
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.SheetName "Sheet2"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Design Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Design Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"

 ..ConductiveLayer 2
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem Thieving
   ...ConductiveItem MountingHolesByLayer
   ...ConductiveItem PartHolesByLayer
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.SheetName "Sheet3"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Design Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Design Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"

 ..ConductiveLayer 3
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem Thieving
   ...ConductiveItem MountingHolesByLayer
   ...ConductiveItem PartHolesByLayer
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.OutputVariants NO
.VariantList "Master"

.EzPrintConfigFilePath "C:\\Users\\alexi\\Application Data\\mgc\\ezprint\\defaultEzPrintConfig.xml"
